@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 680px;
    margin: 100px auto; 
    font-family: Raleway, sans-serif;
    font-size: 1.2em;
    font-weight: light;
    color: #707070;
}
p{
    margin: 24px 0px;
}
#txt{
    display: inline-block;
    margin: 24px 0px;
    color: coral;
    font-weight: 600;
}
nav{
    margin: 24px 0px;
}
    nav a{
       background-color: #222;
       color: #f9f9f9;
       padding: 8px 32px;
       text-decoration: none;
       border-radius: 8px;
       cursor: pointer;
       transition: .3s;
    }
    nav a:hover{
        background-color: #3c3c3c;
        color: #fff; 
    }

#caja{
    width: 200px;
    height: 200px;
    background-color: rgb(1, 216, 191);
    border-radius: 12px;
    box-shadow: 0px 0px 5px #999;
    padding: 24px;
}

#sol{
    margin-top: 32px;
}
    #sol img{
        width: 256px;
    }

#cuerpo{
    background-image: url(../imgs/github.svg);
    background-repeat: no-repeat;
    background-position: center 200px;
}


.lista{
    list-style: none;
}
.lista li{
    padding: 8px 0px;
    transition: .3s;
}
.lista li:hover{
    background-color: rgb(255, 236, 210);
    font-size: 1.3em;
}

/* formulario */
form{
    margin: 32px 0px;
    padding: 32px;
    background-color: #3D4043;
    border-radius: 12px;
}
form input{
    width: 100%;
    padding: 8px;
    font-family: Raleway, sans-serif;
    font-size: 1.2em;
    font-weight: light;
    color: #707070;
    border-radius: 8px;
}
form button{
    width: 100%;
    margin-top: 32px;
    background-color: #D26137;
    color: #fff;
    padding: 8px;
    font-family: Raleway, sans-serif;
    font-size: 1.2em;
    border-radius: 8px;
    border: 1px solid #e68549;
    cursor: pointer;
    transition: .3s;
}
form button:hover{
    background-color: #e47248;
}
